# dependencies
node_modules

# junk files
.DS_Store
Thumbs.db

# personal files
__*
NOTES.md

# documentation
docs/.vitepress/dist
docs/.vitepress/cache
# where jsdoc is built
docs/public/api

# types
