/**
 * Customize default theme styling by overriding CSS variables:
 * https://github.com/vuejs/vitepress/blob/main/src/client/theme-default/styles/vars.css
 */

/**
 * Colors
 *
 * Each colors have exact same color scale system with 3 levels of solid
 * colors with different brightness, and 1 soft color.
 *
 * - `XXX-1`: The most solid color used mainly for colored text. It must
 *   satisfy the contrast ratio against when used on top of `XXX-soft`.
 *
 * - `XXX-2`: The color used mainly for hover state of the button.
 *
 * - `XXX-3`: The color for solid background, such as bg color of the button.
 *   It must satisfy the contrast ratio with pure white (#ffffff) text on
 *   top of it.
 *
 * - `XXX-soft`: The color used for subtle background such as custom container
 *   or badges. It must satisfy the contrast ratio when putting `XXX-1` colors
 *   on top of it.
 *
 *   The soft color must be semi transparent alpha channel. This is crucial
 *   because it allows adding multiple "soft" colors on top of each other
 *   to create a accent, such as when having inline code block inside
 *   custom containers.
 *
 * - `default`: The color used purely for subtle indication without any
 *   special meanings attached to it such as bg color for menu hover state.
 *
 * - `brand`: Used for primary brand colors, such as link text, button with
 *   brand theme, etc.
 *
 * - `tip`: Used to indicate useful information. The default theme uses the
 *   brand color for this by default.
 *
 * - `warning`: Used to indicate warning to the users. Used in custom
 *   container, badges, etc.
 *
 * - `danger`: Used to show error, or dangerous message to the users. Used
 *   in custom container, badges, etc.
 * -------------------------------------------------------------------------- */

:root {
  --vp-c-default-1: var(--vp-c-gray-1);
  --vp-c-default-2: var(--vp-c-gray-2);
  --vp-c-default-3: var(--vp-c-gray-3);
  --vp-c-default-soft: var(--vp-c-gray-soft);

  --vp-c-brand-1: var(--vp-c-indigo-1);
  --vp-c-brand-2: var(--vp-c-indigo-2);
  --vp-c-brand-3: var(--vp-c-indigo-3);
  --vp-c-brand-soft: var(--vp-c-indigo-soft);

  --vp-c-tip-1: var(--vp-c-brand-1);
  --vp-c-tip-2: var(--vp-c-brand-2);
  --vp-c-tip-3: var(--vp-c-brand-3);
  --vp-c-tip-soft: var(--vp-c-brand-soft);

  --vp-c-warning-1: var(--vp-c-yellow-1);
  --vp-c-warning-2: var(--vp-c-yellow-2);
  --vp-c-warning-3: var(--vp-c-yellow-3);
  --vp-c-warning-soft: var(--vp-c-yellow-soft);

  --vp-c-danger-1: var(--vp-c-red-1);
  --vp-c-danger-2: var(--vp-c-red-2);
  --vp-c-danger-3: var(--vp-c-red-3);
  --vp-c-danger-soft: var(--vp-c-red-soft);
}

/**
 * Component: Button
 * -------------------------------------------------------------------------- */

:root {
  --vp-button-brand-border: transparent;
  --vp-button-brand-text: var(--vp-c-white);
  --vp-button-brand-bg: var(--vp-c-brand-3);
  --vp-button-brand-hover-border: transparent;
  --vp-button-brand-hover-text: var(--vp-c-white);
  --vp-button-brand-hover-bg: var(--vp-c-brand-2);
  --vp-button-brand-active-border: transparent;
  --vp-button-brand-active-text: var(--vp-c-white);
  --vp-button-brand-active-bg: var(--vp-c-brand-1);
}

/**
 * Component: Home
 * -------------------------------------------------------------------------- */

:root {
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(
    120deg,
    #bd34fe 30%,
    #41d1ff
  );

  --vp-home-hero-image-background-image: linear-gradient(
    -45deg,
    #bd34fe 50%,
    #47caff 50%
  );
  --vp-home-hero-image-filter: blur(44px);
}

@media (min-width: 640px) {
  :root {
    --vp-home-hero-image-filter: blur(56px);
  }
}

@media (min-width: 960px) {
  :root {
    --vp-home-hero-image-filter: blur(68px);
  }
}

/**
 * Component: Custom Block
 * -------------------------------------------------------------------------- */

:root {
  --vp-custom-block-tip-border: transparent;
  --vp-custom-block-tip-text: var(--vp-c-text-1);
  --vp-custom-block-tip-bg: var(--vp-c-brand-soft);
  --vp-custom-block-tip-code-bg: var(--vp-c-brand-soft);
}

/**
 * Component: Algolia
 * -------------------------------------------------------------------------- */

.DocSearch {
  --docsearch-primary-color: var(--vp-c-brand-1) !important;
}


/**
  @WARNING
  Just copy / pasted from the soundworks stylesheet
*/
:root {
  --vp-font-family-base: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;

  /*
    - yellow: #f0db4f
    - brown: #282922
  */

  --sw-yellow: #f0db4f;
  --sw-yellow-dark: #d9ca5c;

  --sw-brown: #282922;
  --sw-brown-light: #7f816d;
  /* very crude, to review */

  --vp-c-brand-1: var(--sw-brown-light);
  --vp-c-brand-2: var(--sw-brown-light);
  --vp-c-brand-3: var(--sw-brown-light);

  /* code bg color */
  --vp-code-block-bg: var(--sw-brown);
  /* non-active nav link */
  --vp-c-text-light-2: rgba(120, 120, 120, 0.95);
  /* inline code color */
  --vp-code-color: #8d8f7a;
}

body {
  font-size: 15px;
}

.VPContent a {
  text-decoration: underline;
  text-decoration-style: dotted;
}

.VPContent .VPDocAside a, a.action-button {
  text-decoration: none;
}

.VPHome {
  max-width: 1150px;
  margin: 0 auto;
  padding: calc(var(--vp-nav-height) + var(--vp-layout-top-height, 0px)) 64px 64px;
  font-weight: normal;
}

.VPHome h1 {
  color: var(--sw-brown);
  padding: 0;
  margin: 0 0 30px 0;
  font-size: 2.2rem;
  border-radius: 3px;
  font-weight: bold;
  line-height: 1.25;
/*  background-color: rgba(27, 31, 35, 0.05);*/
  display: inline-block;
}

.dark .VPHome h1 {
  background-color: rgba(27, 31, 35, 0.95);
  color: #ffffff;
}

.VPHome h2 {
  color: var(--sw-brown-light);
  font-size: 1.65rem;
  padding-bottom: 0.3rem;
  border-bottom: 1px solid var(--vp-c-divider-light);
  margin: 50px 0 26px;
  font-weight: bold;
  line-height: 1.25;
}

.VPHome h3 {
  color: var(--sw-brown-light);
  font-size: 1.35rem;
  margin: 22px 0;
  font-weight: bold;
  line-height: 1.25;
}

.VPHome .action-button {
  display: inline-block;
  font-size: 1.2rem;
  color: #ffffff;
  background-color: var(--sw-brown);
  padding: 0.6rem 0rem;
  border: 1px solid #4b4d40;
  border-radius: 4px;
  transition: background-color 0.1s ease;
  box-sizing: border-box;
  display: inline-block;
  margin: 0 auto;
  width: 160px;
  text-align: center;
/*  margin-top: 4px;*/
}

.VPHome .action-button:hover {
  background-color: #565949;
  color: #ffffff;
}

.VPHome .action-button.infos {
  margin-right: 12px;
}

.VPHome .action-button.start {
  background-color: var(--sw-yellow-dark);

}

.VPHome .action-button.start:hover {
  background-color: #efe38c;
}

.VPHome ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 40px;
  padding-left: 1.2em;
  line-height: 1.7;
}

.VPHome a {
  color: var(--sw-brown-light);
}

.VPHome a:hover {
  color: var(--sw-brown);
}


/* LAYOUT -------------------------- */
.VPHome .intro {
  display: flex;
}

.VPHome .intro img {
  height: 300px;
  margin-right: 50px;
}


.VPHome .intro > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.VPHome .intro .npm-badge {
  width: auto;
  height: 20px;
  margin-top: 20px;
}

/* 1 column layout @1300px because side-bar is still there */
/* the side bar disappear at 960 so everything is nice and clean */
@media (max-width: 1300px) {
/* @media (max-width: 960px) { */
  .VPHome {
    max-width: 790px;
  }

  .VPHome .intro img {
    height: 30%;
    width: 30%;
  }

  .VPHome .intro > div p {
    margin-bottom: 20px;
  }
}

/* make it compact */
@media (max-width: 768px) {
  .VPHome {
    padding: 34px 24px 48px;
  }

  .VPHome .intro {
    flex-direction: column;
  }

  .VPHome .intro img {
    width: 172px;
    height: 172px;
  }

  .VPHome .intro > div {
    margin-top: 30px;
  }
}

/* just make the code blocks more square */
.vp-doc div[class*='language-'] {
  font-size: 14px;
}

@media (min-width: 640px) {
  .vp-doc div[class*='language-'] {
      border-radius: 3px;
  }
}

/* ------ Comote ------- */

a.appstore {
  display:  inline-block;
  width: 200px;
  height: 59px;
  background-image: url("/appstore-dl.png");
  background-size: contain;
  margin: 6px 10px;
}

a.playstore {
  display:  inline-block;
  width: 200px;
  height: 59px;
  background-image: url("/playstore-dl.png");
  background-size: contain;
  margin: 6px 10px;
}
